<!DOCTYPE html>
<html lang="ro">
    <head>
        <meta name="description" content="Firma Colourful Make-up ofera produse de make-up calitative la un pret accesibil, cu posibilitatea comandarii online a produselor si livrarea in 24-48 de ore. Produsele noastre sunt vegane, de o calitate superioara, facute special pentru o aplicare usoara a produselor. Va invitam sa le incercati si sa va bucurati de ele cel putin la fel de mult precum ne-am bucurat noi sa le fabricam!">
        <meta name="keywords" content="make-up, make-up look, machiaj, trusa machiaj, palete machiaj, Colourful Make-up, machiaj, machiaje, site de machiaje, site machiaje, produse de machiaj, truse machiaj, truse de machiaj, Colourful, make-up, machiaj, firma machiaj, palete, palete de machiaj, palete de farduri, fard, farduri, fard de ochi, mascara, rimel, creioane de ochi, ochi, creioane, pomade, pomada, creion de sprancene, gel de sprancene, trusa de machiaj, produse pentru fata, fond de ten, fonduri de ten, blush, iluminatoare, iluminator, corector, corectoare, conceler, contur, contur fata, contur de fata, contur pentru fata, pudra, pudra pentru fata, pudra translucida, acoperire, buze, rujuri, produse pentru buze, lip gloss, balsam de buze, creioane de buze, produse buze">
        <title>Eroare 403</title>
        <%- include("../fragmente/head.ejs"); %>

        <script src="https://kit.fontawesome.com/f5dfffb5a7.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    </head>
    <body>

        <%- include("../fragmente/header.ejs"); %>

        <main>
            <h1>Eroare 403</h1>
            <h2>Accesul la aceasta pagina este interzis!</h2>
            <p>
                <img src="/resurse/imagini/eroare_403.jpg" alt="Eroare 404" height="200" width="400"/>
            </p>
        </main>
        <%- include("../fragmente/footer.ejs"); %>

        
    </body>
</html>