<footer>
    <address id="date_contact">
        <b>Date de contact:</b>
        <p><span class="fa-solid fa-phone fa-shake"></span><a href="tel:0700000000">Numar de telefon:0700000000</a></p>
        <p><a href="https://www.google.com/maps/place/Facultatea+de+Matematic%C4%83+%C8%99i+Informatic%C4%83+-+Universitatea+din+Bucure%C8%99ti/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867">Adresa: Strada Albinelor, nr.5</a></p>
        <p><span class="fa-solid fa-envelope"></span><a href="mailto:colourful_makeup@yahoo.com">Adresa de mail:colour_makeup@yahoo.com</a></p>
        <p><span class="fa-brands fa-whatsapp"></span><a href="https://wa.me/+40700000000">Ne poti contacta si prin whatsapp la numarul de telfon 0700000000</a></p>
    </address>
    <a href="#top" title="mergi sus" id="link-top"><span id="sageata">&#129081;</span></a>
    <p>
    <small>&copy; <time datetime="2022-02-17">17.02.2022</time></small>
    </p>
</footer>