<header id="top">
    <h1 class="titlu">Colourful Make-up</h1>
    <nav>
        <label id="hamburger" for="ch-menu">
            <img src="/resurse/imagini/hamburger.png" alt="menu" media="(max-width: 500px)">
        </label>
        <input id="ch-menu" type="checkbox" media="(max-width: 500px">
        
        <ul class="meniu">
            <li><a href="/index" id="casuta"><span id="icon"><i class="fa fa-home"></i></span><span id="textmeniu">Acasa</span></a></li>
            <li><div>Informatii despre noi</div>
                <ul class="submeniu">
                    <li><a href="/index#welcome">Bine ati venit!</a></li>
                    <li><a href="/index#date_contact">Date de contact</a></li>
                </ul>
            </li>
            <li><div>Ce va putem oferi</div>
                <ul class="submeniu">
                    
                    <li><a href="/index#promotii">Promotii</a></li>
                    <li><a href="/index#produse">Produse</a></li>
                        
                </ul>
            </li>
            <li><a href="/despre">Despre companie</a></li>
            <li><div>Produse</div>
                <ul class="submeniu">
                    <li><a href="/produse">Toate</a></li>
                    <li><a href="/produse?tip=ochi">Ochi</a></li>
                    <li><a href="/produse?tip=fata">Fata</a></li>
                    <li><a href="/produse?tip=buze">Buze</a></li>

                </ul>
            </li>
        </ul>
    </nav>
</header>